<ul>
  <% @links.each do |link| %>
    <li><%= link.title %></li>
    <li><a href ="<%= link.url %>"><%= link.url %></a></li>
    <%= link_to "comments", link %>
  <% end %>
</ul>

<%= will_paginate @links %>