<ul>
  <% @links.each do |link| %>
    <li><%= link.title %> <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
        <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false,}), :method => :post %></li>
    <li><a href ="<%= link.url %>"><%= link.url %> </a></li>
    Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
    <%= link_to "comments", link %>
  <% end %>
</ul>

<%= will_paginate @links %>